/* v1.10 */
#pageTitle {
	position: fixed;
	background-color: #0826ba;
	width: 100%;
	height: 75px
	color: w#c5c5c5;
	margin-top: -75px;
	text-align: center;
	border: 5px solid white;
	border-radius: 10px;
}
#page {
	border: 1px solid black;
	margin-top: 95px;
}
body {
	background-color: black;
	color: white;
}
.headings {
	background-color: #00a0a6;
	color: black;
	font-family: cursive;
	display: inline-block;
	border: 2px solid #3d2147;
	border-radius: 5px;
	padding: 20px;
	margin: 15px;
}
.content {
	background-color: #47c16e;
	color: black;
	display: block;
	border: 1px solid #3d2147;
	border-radius: 5px;
	padding: 15px;
}