/* v1.0 */
#pageTitle {
	width: 100%;
	height: 75px
	position: fixed;
	background-color: #0826ba;
	color: white;
	border: 5px solid black;
	border-radius: 10px;
}
#page {
	margin-top: 90px;
}
body {
	background-color: black;
	color: white;
}
.headings {
	background-color: #00a0a6;
	color: black;
	display: inline-block;
	border: 2px solid #3d2147;
	border-radius: 5px;
	padding: 5px;
}
.content {
	background-color: #47c16e;
	color: black;
	border: 1px solid #3d2147;
	border-radius: 5px;
	padding: 5px;
}